@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300&display=swap');

* {
	padding: 0;
	margin: 0;
}

body{
	background: #e8e8e8;
}

.header, .footer{
	display:flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;
	height: 78px;
	background: #dcdcdc;
}

.header{
	display: flex;
	justify-content: space-evenly;
	left: 0;
	right: 0;
	top: 0;
	box-shadow: 2px 0 0 2px #ecebeb;
}

.header,.content{
	margin-bottom: 3%;
}

/*===============================*/
/*header*/
/*===============================*/

.logo{
	margin: 16px 0 0 13px;
	height: 50px;
	width: 50px;
	background-image: url(icons/logo.png);
	background-size: cover;
}

.logo-fon{
	height: 70px;
	width: 70px;
	background-image: url(icons/logo-fon.png);
	background-size: cover;
}

.div-search{
	display:flex;
	height:40px;
	margin: 0 5% 0 1%;
	padding: 1px 0 0 0;
}

.icon-search{
	position: absolute;
	height: 15px;
	width: 15px;
	margin: 7px 0 0 10px;
	background-image: url(icons/icon-search.png);
	background-size: cover;
}

.search{
	padding: 6px 0 8px 38px;
	width: 777px;
	border: none;
	border-radius: 20px;
	box-shadow: 5px 5px 20px 0 rgb(189, 189, 189),
	5px 5px 15px 0 rgb(238, 238, 238);
}

.search:hover{
	cursor: pointer;
	border-radius: 20px 20px ;
	box-shadow: 5px 5px 25px 0 rgb(145, 145, 145),
	5px 5px 15px 0 rgb(246, 246, 246);
	transition: 0.7s;
}

input:focus {
	outline: none;
}

::placeholder {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #c4c4c4;
	opacity: 1;
}

.button-search{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 0 40px;
	height: 30px;
	width: 90px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	background: #6dbd6d;
	border-radius: 7px;
	border: none;
	text-decoration: none;
}

.button-search:hover{
	cursor:pointer;
	color:green;
	box-shadow: 5px 5px 15px rgba(109, 189, 109, 0.94);
	font-weight: 700;
	transition: 0.7s;
}


/*===============================*/
/*footer*/
/*===============================*/

.footer{
	justify-content: space-evenly;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	box-shadow: 2px 0 0 2px #ecebeb;
	height:130px;
}

.about{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.follow{
	display: flex;
	flex-direction: column;
	align-items: center
}

.about-item, .follow-item{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 30px;
	padding:0 10px;
	color:#625f5c;
	text-decoration: none;
}

.about-item:first-child, .follow-item:first-child{
	margin: 0 0 7px 0;
	font-size: 20px;
	font-weight: 700;
	padding:0 25px;
}

a.about-item:hover, a.follow-item:hover{
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 0 rgb(241, 241, 241);
	transition: 0.4s;
	font-weight: 700;
}


/*===============================*/
/*goods*/
/*===============================*/

.index-container{
	display: flex;
	flex-direction: column;
}

.goods{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.goods-item {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	width: 370px;
	min-height: 550px;
	background: #fffdfd;
	box-shadow: 0 0 20px 0 rgb(204, 204, 204);
	border-radius: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #757575;
	font-weight: 400;
	text-decoration: none;
}

.goods-item:hover{
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 rgb(148, 148, 148);
	color: #000000;
	font-weight: 500;
	transition: 0.5s;
}

.goods-item-a{
	text-decoration: none;
	color:#363433;
}

.subtitle-name{
	display: flex;
	justify-content: center;

	font-weight: 700;
	margin:0 5px 0 0;
}

.img-good{
	display: flex;
	height: 230px;
	width: 200px;
	margin:3% 22%;
	border-radius: 20px 20px 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.description-good, .title-good, .tag-good, .price-good{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px ;
}

.pagination{
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 30px;
}

.pagination-item a{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color:#625f5c;
	text-decoration: none;
}

.pagination-item{
	margin:10px;
	padding: 5px 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 40px;
	color:#625f5c;
	text-decoration: none;
}

.pagination-item:hover{
	cursor: pointer;
}

.pagination-item:hover{
	cursor: pointer;
	border-radius: 20px 20px;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
	transition: 0.5s;
}

.pagination-item-active{
	border-radius: 20px 20px;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2) !important;
	cursor: default !important;
}

.pagination-item-active a{
	cursor: default !important;
}

.pagination-item-no-active, .pagination-item-no-active a{
	cursor: default !important;
	box-shadow: none !important;
}

/*===============================*/
/*detail*/
/*===============================*/

.content{
	display: flex;
	flex:1;
	justify-content: space-evenly;
	overflow: auto;
}
.content-detail{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 1% 200px 2% 200px;

}

.detail-list {
	display: flex;
	flex-direction: column;
	min-height: 570px;
	min-width: 800px;
	background: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.detail-list-img{
	margin: 16px 0 0 13px;
	height: 300px;
	width: 300px;
	border-radius: 20px 20px 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.detail-list-title, .detail-list-description,
.detail-list-producer, .detail-list-tag{
	margin: 6px 0 6px 5%;
	width:700px;
}

.detail-list-title{
	font-size: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	margin: 7% 0  6px 5%;
}

.detail-list-description, .detail-list-producer{
	font-size: 15px;
}

.detail-list-tag{
	display: flex;
	flex-direction: row;
	font-size: 15px;
	color: #c4c4c4;
}

.detail-list-tag div{
	margin: 0 7px 10px 0;
}

.detail-price{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 15% 0;
	padding:3%;
	width: 300px;
	background: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.detail-price-buy {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 0 0 15%;
	font-size: 40px;

}

.detail-button-buy{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px 0 40px;
	height: 100px;
	width: 200px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
	line-height: 40px;
	color: #fff;
	background: #6dbd6d;
	border-radius: 7px;
	border: none;
	text-decoration: none;
}

.detail-button-buy:hover{
	cursor:pointer;
	color:green;
	box-shadow: 5px 5px 15px rgba(109, 189, 109, 0.94);
	font-weight: 700;
	transition: 0.7s;
}

.detail-back{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 90px;
	margin: 5% 0 0 5%;

}

.detail-back:hover{
	cursor: pointer;
	border-radius: 20px 20px ;
	box-shadow: 0 5px 5px rgb(255, 255, 255);
	transition: 0.5s;
}

/*===============================*/
/*Order Registration*/
/*===============================*/

.content-order-registration{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10%;

}

.order-registration-good{
	display:flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 1%;
	padding: 0 2%;
	min-width: 700px;
	background: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.order-registration-good-img{
	height: 55px;
	width: 59px;
	margin: 0 0 2% 0;
	background-repeat: no-repeat;
	background-size: cover;

}

.order-registration-description{
	display: flex;
	align-items: center;
	padding: 1%  2%;
	width:600px;
	font-weight: 500;
	background: #fff;
	border-radius: 20px;
}

.order-registration-tag{
	display: flex;
	align-items: center;
	padding: 1% 2%;
	margin: 0 2%;
	background: #fff;
	border-radius: 20px;
}

.order-registration-tag div{
	margin:6px;
}

.order-registration-price{
	display: flex;
	align-items: center;
	padding: 1% 2%;
	background: #fff;
	border-radius: 20px;

}

.content-order-registration-title{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
	font-weight: 700;
	margin: 0 0 5% 0;
}

.content-order-registration-first-name, .content-order-registration-last-name,
.content-order-registration-tel, .content-order-registration-email{
	display: flex;
	margin: 7% 0;
	background: #fff;
	box-shadow: 0 0 20px rgba(182, 182, 182, 0.85);
	border-radius: 10px;
	padding: 6px 0 8px 38px;
	width: 377px;
	border: none;
}

.content-order-registration-first-name:hover,
.content-order-registration-last-name:hover,
.content-order-registration-tel:hover,
.content-order-registration-email:hover
{
	cursor: pointer;
	border-radius: 15px ;
	box-shadow: 5px 5px 20px rgb(155, 155, 155);
	transition: 0.7s;
}

::placeholder {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #c4c4c4;
	opacity: 1;
}

.content-order-registration-button{
	display: flex;
	justify-content: center;
	margin: 5% 0 5% 23%;
	height: 80px;
	width: 400px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	line-height: 40px;
	color: #fff;
	background: #6dbd6d;
	border-radius: 7px;
	border: none;
	text-decoration: none;
}

.content-order-registration-button:hover{
	cursor:pointer;
	color:green;
	box-shadow: 5px 5px 15px rgba(109, 189, 109, 0.94);
	font-weight: 700;
	transition: 0.7s;
}

/*===============================*/
/*Order placed*/
/*===============================*/

.content-order-placed{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

img.content-order-placed-icon{
	height: 155px;
	width: 155px;
	margin: 0 0 5% 0;
	background-image: url(/public/icons/checkmark.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.content-order-placed-title{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
	font-weight: 700;
}

.content-detail-back{
	height: 45px;
	width: 45px;
	margin: 20px 0 20px 0;
	background-image: url(/public/icons/back.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/*===============================*/
/*Auth*/
/*===============================*/

.content-auth{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10%;
}

.content-auth-title{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
	font-weight: 700;
	margin: 0 0;
}

.content-auth-login, .content-auth-password{
	display: flex;
	margin: 7% 0;
	background: #fff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 20px;

	padding: 6px 0 8px 38px;
	width: 377px;
	border: none;
}

.content-auth-login:hover, .content-auth-password:hover{
	cursor: pointer;
	border-radius: 20px 20px ;
	box-shadow: 3px 3px 5px rgb(189, 189, 189);
	transition: 0.7s;
}

.content-auth-button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5% 0 0 0;
	height: 50px;
	width: 120px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	background: #6dbd6d;
	border-radius: 7px;
	border: none;
	text-decoration: none;
}

.content-auth-button:hover{
	cursor:pointer;
	color:green;
	box-shadow: 5px 5px 15px rgba(109, 189, 109, 0.94);
	font-weight: 700;
	transition: 0.7s;
}

/*===============================*/
/*Page not found*/
/*===============================*/

.page-not-found{
	display: flex;
	justify-content: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
	font-weight: 700;
	margin: 5% 0;
}